.BotonInformacion {
	background-image: url(/images/lupa.jpg);
	border: none;
	cursor: pointer;
	height: 17px;
	width: 15px;
}

.btnPdf {
	background-image: url(/images/pdf_download.jpg);
	border: none;
	cursor: pointer;
	height: 17px;
	width: 15px;
}

.colCenter {
	text-align: center;
}

.GridBaja {
	color: #b00;
	text-decoration: line-through;
}

.GridColSeparator {
	background-color: #ffffff;
	width: 1px;
}

.GridEmpty
{
  border: none;
  background-image: url(/images/grid_not_found.gif);
  height: 50px;
  width: 237px;
}

.GridFirstColumn {
	background-color: #fff;
}

.GridFondoOnMouseOver:hover {
	background: #00A4E4;
}

.GridFooter {
	background-color: #B8B8B8;
	border-color: #B1B1B1;
	border-width: 1px;
	border-style: solid;
	color: white;
	font-family: Trebuchet MS;
	font-size: 10pt;
	height: 20px;
}

.GridFooterFont {
	color: #FEFEFE;
	font-family: Trebuchet MS;
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
}

.GridFooterFontSelected {
	color: #000000;
	font-weight: bold;
	cursor: default;
	font-family: Trebuchet MS;
	font-size: 8pt;
	text-decoration: none;
}

.GridHeader {
	background-color: #6AB445;
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 8pt;
	height: 16px;
	text-align: center;
	vertical-align: top;
}

.GridOrderAsc
{
  border: none;
  background-image: url(/images/grid_asc.gif);
  height: 15px;
  width: 26px;
}

.GridOrderDesc
{
  border: none;
  background-image: url(/images/grid_desc.gif);
  height: 15px;
  width: 26px;
}

.GridRow1 {
	background-color: #807F84;
	color: black;
	cursor: default;
}

.GridRow2 {
	background-color: #807F84;
	color: black;
	cursor: default;
}

.GridTable {
	border: 0px solid;
	border-collapse: collapse;
	border-spacing: 0px;
	padding: 0px;
	width: 710px;
}

.GridText {
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 8pt;
	padding-left: 2px;
	text-align: center;
}

.GridTitle {
	color: #FEFEFE;
	font-family: Trebuchet MS;
	font-size: 10pt;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}