label {display:inline-block; text-align:right; width:140px;}

#bajada {width:80%;}
#btnCancelar {vertical-align:-3px;}
#btnCargar {vertical-align:-3px;}
#btnEditar {margin-left:1px;}
#btnGuardar {vertical-align:-3px;}
#btnVer {vertical-align:-4px;}
#cuerpo {cursor:pointer; display:none; height:120px; width:480px;}
#divErroresForm {display:none;}
#divMostrarEnPortada {display:none;}
#foco {height:1px; width:1px;}
#imgChica {border:3px solid #fff; height:40px;}
#imgChica:hover {border:3px solid #0f539c;}
#imgGrande {border:3px solid #fff; height:40px;}
#imgGrande:hover {border:3px solid #0f539c;}
#labelHabilitarComentariosBusqueda {margin-left:16px; width:160px;}
#labelImagenChica {vertical-align:18px;}
#labelImagenGrande {vertical-align:18px;}
#labelTipoInput {margin-left:-73px;}
#posicion {width:40px;}
#titulo {width:560px;}
#url {background-color:#ccc; width:360px;}
#volanta {width:360px;}

/* INICIO CUERPO */
#btnEnviar {margin-left:0px; vertical-align:-4px;}
#divCuerpo {background-color:#eee; border:1px solid #00539b; display:none; height:100%; left:50%; margin-left:-40%; position:fixed; text-align:center; top:0; width:80%; z-index:100;}
#divCuerpoGuardar {margin-right:20px; text-align:right;}
#divCuerpoImagenes {border:1px solid #00f;; margin-bottom:16px; padding:2px; text-align:left;}
#divCuerpoRutaImagenes {background-color:#ffe1c4; margin-top:8px;}
#divFondo {background-color:#00539b; display:none; filter:alpha(opacity=40); height:100%; left:0px; opacity:.4; position:fixed; top:0px; width:100%; z-index:99;}
#imagen {width:448px;}
#imgCerrarVentanaCuerpo {cursor:hand; position:absolute; right:0; top:0;}
#imgGuardandoCuerpo {display:none;}
#imgSubidaOk {display:none; margin-left:8px; vertical-align:-4px;}
#imgSubiendoImagen {display:none; margin-left:8px; vertical-align:-4px;}
#labelSubirImagen {margin-left:4px;}
#tituloCuerpo {color:#f00; text-align:center; width:100%;}
/* FIN CUERPO */