label {display:inline-block; text-align:right; width:80px;}

.divMantenimientoFormActivo {background-color:#ccc; display:none; float:left; margin-left:16px; padding-left:4px; padding-right:4px;}
.divMantenimientoItem {cursor:move; float:left; font-weight:normal; margin-left:12px;}
.divMantenimientoPadre {font-weight:bold;}
.divMantenimientoPadreTexto{cursor:move; float:left;}
.divMantenimientoRadio {margin-left:12px; vertical-align:-2px;}
.itemInactivo {color:#f00;}

#btnAgregar {margin-right:16px;}
#color {cursor:pointer;}
#divErroresForm {display:none;}
#divMantenimientoItems {left:50%; margin:auto; text-align:left; width:50%;}
#divMantenimientoMenu {text-align:center; width:100%;}
#foco {height:1px; width:1px;}
#imgEncabezado {cursor:hand; height:20px; margin-left:40px; vertical-align:-6px; width:278px;}
#link {width:80%;}
#orden {width:32px;}
#texto {width:80%;}