/* Estilo para la celda que incluye el nombre del Usuario que solicita el pedido */
.TDUsuSol {
	background-color:#DE6666;
	text-align:right;
	color:#FFFFFF;
	font-size:10pt;
}

/* Estilo para viñeta */
#viñeta {
	color:#DE6666;
	font-weight: bold;
	font-size:10pt;
}