#divLeft {float:left; padding-right:2%; width:72%;}
#divNacimientos {margin-top:24px;}
#divRight {float:left; padding-right:2%; width:24%;}
#divTexto {padding-bottom:10px; padding-top:5px;}
#divTitulo {background-color:#00539b; color:#fff; font-size:14px; font-weight:bold; padding-left:4px;}
#imgFoto {height:auto; max-width:100%;}