<IfModule mod_rewrite.c>
	Options +FollowSymLinks

	ErrorDocument 404 /index.php?pageid=90

	RewriteEngine On
	RewriteRule ^archivo/([^/]*)$ /functions/get_file.php?fl=$1
	RewriteRule ^archivo/([^/]*)/([a-z]*)$ /functions/get_file.php?fl=$1&md=$2
	RewriteRule ^archivo/([^/]*)/([^/]*)/([a-z]*)$ /functions/get_file.php?fl=$1&ft=$2&ok=$3
	RewriteRule ^arteria-noticias/?$ /modules/arteria_noticias/arteria_noticias.php
	RewriteRule ^arteria-noticias/([0-9]*)/([0-9]*)$ /modules/arteria_noticias/noticia.php?b=$1&n=$2
	RewriteRule ^arteria-noticias-abm/([0-9]*)$ /index.php?pageid=92&id=$1
	RewriteRule ^arteria-noticias-abm/([0-9]*)/([0-9]*)$ /index.php?pageid=93&idboletin=$1&num=$2
	RewriteRule ^arteria-noticias-abm-busqueda/([0-9]*)$ /index.php?pageid=64&id=$1
	RewriteRule ^arteria-noticias-ediciones-anteriores/?$ /modules/arteria_noticias/ediciones_anteriores.php
	RewriteRule ^arteria-noticias-ediciones-anteriores/([0-9]*)$ /modules/arteria_noticias/envio.php?id=$1
	RewriteRule ^articulos/([0-9]*)$ /index.php?pageid=77&id=$1
	RewriteRule ^articulos/n/([0-9]*)$ /modules/articulos/ver_articulo_blank.php?id=$1
	RewriteRule ^articulos-abm/([0-9]*)$ /index.php?pageid=76&id=$1
	RewriteRule ^articulos-abm-busqueda/([0-9]*)$ /index.php?pageid=24&id=$1
	RewriteRule ^atencion-publico/?$ /modules/atencion_publico/atencion_publico.php
	RewriteRule ^ausentismo/?$ /index.php?pageid=7
	RewriteRule ^ausentismo-gestion/?$ /index.php?pageid=9
	RewriteRule ^ausentismo-historico/?$ /index.php?pageid=8
	RewriteRule ^aviso-obra/?$ /index.php?pageid=42
	RewriteRule ^banners-abm/([0-9]*)$ /index.php?pageid=89&id=$1
	RewriteRule ^banners-abm-busqueda/([0-9]*)$ /index.php?pageid=88&id=$1
	RewriteRule ^beneficios/([0-9]*)$ /index.php?pageid=43&id=$1
	RewriteRule ^beneficios-abm/([0-9]*)$ /index.php?pageid=85&id=$1
	RewriteRule ^beneficios-abm-busqueda/([0-9]*)$ /index.php?pageid=84&id=$1
	RewriteRule ^boletin-oficial/?$ /index.php?pageid=14
	RewriteRule ^boletin-oficial/([0-9]*)/([0-9]*)$ /index.php?pageid=17&ano=$1&mes=$2
	RewriteRule ^boletin-oficial/([0-9]*)/([0-9]*)/([0-9]*)$ /index.php?pageid=15&ano=$1&mes=$2&dia=$3
	RewriteRule ^boletin-oficial-historico/?$ /index.php?pageid=16
	RewriteRule ^boletin-oficial-ver/([0-9]*)/([0-9]*)/([0-9]*)/([0-9]*)$ /modules/boletin_oficial/ver_boletin.php?ano=$1&mes=$2&dia=$3&seccion=$4
	RewriteRule ^boletin-seguridad-informatica/?$ /index.php?pageid=26
	RewriteRule ^boletin-seguridad-informatica/anteriores/?$ /index.php?pageid=27
	RewriteRule ^boletin-seguridad-informatica/listado-mensual/([0-9]*)/([0-9]*)/?$ /index.php?pageid=28&ano=$1&mes=$2
	RewriteRule ^buscar/([^/]*)$ /index.php?pageid=83&busquedaGeneral=$1&zoom_query=$1&search=1
	RewriteRule ^busquedas-corporativas-abm/([0-9]*)$ /index.php?pageid=80&id=$1
	RewriteRule ^busquedas-corporativas-abm-busqueda/([0-9]*)$ /index.php?pageid=63&id=$1
	RewriteRule ^calendario-eventos-abm/([0-9]*)$ /index.php?pageid=82&id=$1
	RewriteRule ^calendario-eventos-abm-busqueda/([0-9]*)$ /index.php?pageid=81&id=$1
	RewriteRule ^calendario-feriados-abm/([0-9]*)$ /index.php?pageid=96&id=$1
	RewriteRule ^calendario-feriados-abm-busqueda/([0-9]*)$ /index.php?pageid=95&id=$1
	RewriteRule ^campus-virtual/?$ /index.php?pageid=65
	RewriteRule ^contacto/([0-9]*)$ /index.php?pageid=56&id=$1
	RewriteRule ^contactos/?$ /index.php?pageid=5
	RewriteRule ^contactos/s/([0-9a-zA-Z_,-]*)$ /index.php?pageid=5&sector=$1
	RewriteRule ^control-gestion-permisos/([a-z]*)$ /modules/control_gestion/permisos/permisos.php?o=$1
	RewriteRule ^cumpleanos/?$ /modules/cumpleanos/cumpleanos.php
	RewriteRule ^cumpleanos/([0-9]*)$ /modules/cumpleanos/cumpleanos.php?mes=$1
	RewriteRule ^delivery/?$ /index.php?pageid=39
	RewriteRule ^descargables/?$ /index.php?pageid=37
	RewriteRule ^descargables/([0-9]*)$ /index.php?pageid=37&idpadre=$1
	RewriteRule ^diccionarios/?$ /index.php?pageid=51
	RewriteRule ^encuestas/([0-9]*)$ /index.php?pageid=50&encuestaid=$1
	RewriteRule ^encuestas/([0-9]*)/([A-Z]*)$ /index.php?pageid=50&encuestaid=$1&vp=$2
	RewriteRule ^encuestas/([0-9]*)/([0-9]*)/([A-Z]*)/([A-Z]*)$ /index.php?pageid=50&encuestaid=$1&prg=$2&vp=$3&fin=$4
	RewriteRule ^encuestas-abm/([0-9]*)$ /index.php?pageid=25&id=$1
	RewriteRule ^encuestas-abm-busqueda/([0-9]*)$ /index.php?pageid=48&id=$1
	RewriteRule ^encuestas-abm-estadisticas/([0-9]*)$ /index.php?pageid=49&id=$1
	RewriteRule ^encuesta-satisfaccion-cliente/?$ /index.php?pageid=62
	RewriteRule ^estadisticas-intranet/?$ /index.php?pageid=91
	RewriteRule ^evaluacion-desempeno/?$ /modules/evaluacion_desempeno/index.php
	RewriteRule ^historico-articulos/?$ /index.php?pageid=86
	RewriteRule ^informes-directores/?$ /index.php?pageid=78
	RewriteRule ^informes-gestion/?$ /index.php?pageid=33
	RewriteRule ^instructivos/?$ /index.php?pageid=46
	RewriteRule ^mantenimiento-descargables/?$ /index.php?pageid=100
	RewriteRule ^mantenimiento-descargables-item/([0-9]*)$ /index.php?pageid=3&id=$1
	RewriteRule ^mantenimiento-extranet/?$ /index.php?pageid=55
	RewriteRule ^mantenimiento-intranet/?$ /index.php?pageid=11
	RewriteRule ^mantenimiento-menu/?$ /index.php?pageid=75
	RewriteRule ^mantenimiento-menu-item/([0-9]*)$ /index.php?pageid=87&id=$1
	RewriteRule ^mapa-interactivo/?$ /modules/mapa_interactivo/mapa_interactivo.php
	RewriteRule ^mapa-prestadores/?$ /index.php?pageid=98
	RewriteRule ^nacimientos/([0-9]*)$ /index.php?pageid=32&id=$1
	RewriteRule ^nacimientos-abm/([0-9]*)$ /index.php?pageid=13&id=$1
	RewriteRule ^nacimientos-abm-busqueda/([0-9]*)$ /index.php?pageid=12&id=$1
	RewriteRule ^normativa-externa/?$ /index.php?pageid=31
	RewriteRule ^normativa-externa/(.*)$ /index.php?pageid=31&fldr=$1
	RewriteRule ^normativa-interna/?$ /index.php?pageid=40
	RewriteRule ^normativa-interna/(.*)$ /index.php?pageid=40&fldr=$1
	RewriteRule ^novedades-abm/([0-9]*)$ /index.php?pageid=79&id=$1
	RewriteRule ^novedades-abm-busqueda/([0-9]*)$ /index.php?pageid=10&id=$1
	RewriteRule ^obras-sociales/?$ /index.php?pageid=45
	RewriteRule ^organigrama/?$ /index.php?pageid=54
	RewriteRule ^permisos/([0-9]*)$ /modules/permisos/permisos.php?pageid=$1
	RewriteRule ^prevencion-fraude/?$ /modules/normativa_interna/corporativa/manuales/control_prevencion_fraude.php
	RewriteRule ^programa-incentivos/?$ /index.php?pageid=101
	RewriteRule ^proteccion-datos-personales/?$ /index.php?pageid=44
	RewriteRule ^regiones-sanitarias/?$ /modules/regiones_sanitarias/index_principal.php
	RewriteRule ^solicitud-obras-mantenimiento/?$ /index.php?pageid=38&gs=true&sistema=2
	RewriteRule ^solicitud-sistemas/?$ /index.php?pageid=38
	RewriteRule ^sucursales/?$ /index.php?pageid=69
	RewriteRule ^tablero-control/?$ /modules/control_gestion/tablero_de_control/index.php
	RewriteRule ^usuarios-abm/([0-9]*)$ /index.php?pageid=2&id=$1
	RewriteRule ^usuarios-abm-busqueda/([0-9]*)$ /index.php?pageid=1&id=$1
	RewriteRule ^usuarios-aviso/?$ /index.php?pageid=99
	RewriteRule ^vista-previa/?$ /index.php?vistaprevia=t
		
</IfModule>