/*.GridTitleAjx {color:#fefefe; font-family:Neo Sans; font-size:14px; font-weight:bold; text-align:center; text-decoration:none;}*/
.GridTitleAjx {color:#fefefe; font-family:Neo Sans; font-size:14px; font-weight:450; text-align:center; text-decoration:none;}

.GridTableAjx {border:0px solid; border-collapse:collapse; border-spacing:0px; padding:0px; width:680px;}
.GridTextAjx {color:#fff; font-family:Neo Sans; font-size:9pt; padding-left:2px; height:13px;}
.GridTextLinkAjx {font-family:Neo Sans; font-size:9pt; padding-left:2px; height:13px; color:#0000FF; text-decoration:underline;}
/*color:#0FF;*/

.GridTitleAjx:hover {color:#00BFFF; text-decoration:none;}
/*a.GridTitleAjx:hover {color:#87CEEB; text-decoration:underline;}*/
a.GridTextAjx:hover {color:#00BFFF; text-decoration:none;}
a.GridTextLinkAjx:hover {color:#00BFFF; text-decoration:underline;}

.GridRowAjx1 {color:#fff; font-family:Neo Sans; font-size:9pt; background-color:#696969; cursor:default; padding-left:2px;}
.GridRowAjx2 {color:#fff; font-family:Neo Sans; font-size:9pt; background-color:#808080; cursor:default; padding-left:2px;}

.GridFondoOnMouseOverAjx:hover {background:#0f539c; cursor:default;}


.GridRowAjx1Btn {color:#000; font-family:Neo Sans; font-size:9pt; background-color:#f1f1f1; cursor:default; padding-left:2px;}
.GridRowAjx2Btn {color:#000; font-family:Neo Sans; font-size:9pt; background-color:#f1f1f1; cursor:default; padding-left:2px;}

.GridRowAjx2Fondo:hover {background-color:#DDDDDD; cursor:default;   border: solid 2px #CCCCCC; color:#000; font-family:Neo Sans; font-size:9pt; padding-left:2px;}

.gridTableAjxPermisos {  border: 0px solid;  border-collapse: collapse;  border-spacing: 0px;  padding: 0px;  width: 98%;}

.GridFooterFontSelectedAjx {  color: #DDDDDD;  font-size: 12pt;  text-decoration: none;}

.GridTable12Permisos{ magin :12px 0px; width:98%; overflow:hidden}

.GridCellTextAjx {  color: #000;  font-size: 12pt;  text-decoration: none;}