* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #FFF;
	height: 100%;
	overflow: hidden;
	width: 100%;
}

#botonPermisos {
	cursor: pointer;
	position: relative;
	top: -4px;
}

#content {
	left: 0;
	overflow: auto;
	top: 0;
	width: 100%;
	z-index: 1;
}

#contentIn {
	margin: 0 auto;
	margin-top: 0px;
	width: 768px;
	padding:0px;
}

#cube {
	left: 80px;
	position: relative;
	top: 8px;
}

#divVisorImagenes {
	display: none;
}

#divVisorImagenesFlechaAnterior {
	cursor: hand;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 99;
}

#divVisorImagenesFlechas {
	left: 0;
	position: absolute;
	top: 0;
}

#divVisorImagenesFlechaSiguiente {
	cursor: hand;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 99;
}

#divVisorImagenesFondo {
	background-color: #00539B;
	filter: alpha(opacity=60);
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 97;
}

#divVisorImagenesImagen {
	display: table-cell;
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 98;
}

#fechaHomePage {
	color: #65666B;
	cursor: default;
	font-family: Neo Sans;
	font-size: 10px;
	left: -320px;
	position: relative;
	top: -32px;
}

#fijo {
	height: 108px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

#footer {
	bottom: 0;
	height: 32px;
	position: absolute;
	width: 100%;
	z-index: 5;
}

#footerIn {
	margin:0 auto;
	width: 768px;
}

#header {
	background: #D9DADC;
	height: 66px;
	left: 0;
	margin-top: 4px;
	top: 4px;
	width: 770px;
	z-index: 2;
}

#imagen1HomePage {
	position: relative;
	top: 6px;
	left: -10px;
}

#imagen2HomePage {
	left: -85px;
	position: relative;
}

.lineaVertical {
	background-image: url('/images/home_linea_horizontal.jpg');
	width: 2px;
}

#menu {
	background: #FFF;
	height: 24px;
	margin-bottom: 4px;
	margin-top: 4px;
	width: 100%;
	z-index: 3;
}

#noDatos {
	background: #f00;
	color: #fff;
	font-family: Neo Sans;
	font-size: 12pt;
	height: 24px;
	margin-bottom: 8px;
	width: 560px;
}

#title {
/*	background: #00A4E4;
*/	background: #00539B;
	height: 44px;
	width: 770px;
	z-index: 3;
}

#titleText {
	color: #fff;
	cursor: default;
	font-family: Neo Sans;
	font-size: 18pt;
	font-weight: bold;
	left: 40px;
	position: relative;
	top: 8px;
}

#tope {
	height: 108px;
	top: 0;
}