input[type=text] {border-color:#575756; width:82.6%;}
label {display:inline-block; margin-left:25px; width:96px;}

.fondo1 {background:#dadada}
.fondo2 {background:#f6f6f6}
.titulo {background:#0081dc; color:#fff; font-family:Arial Narrow; font-size:17px; font-weight:bold; padding-left:25px;}
.trFondoLinea:hover {background-color:#0081dc; color:#fff; cursor:default;}

#btnDarBaja {display:none;}
#divEditarLocal {height:16px;}
#divErroresForm {display:none;}
#divFormAgregarLocal {color:#575756; display:none; font-family:Arial; font-size:13px; margin-top:16px; width:97.8%;}
#imgAgregar {cursor:pointer; margin-left:-4px; margin-top:16px;}
#imgAlerta {cursor:pointer; display:none; position:relative; z-index:100;}
#imgEditarLocal {cursor:pointer; display:none; position:relative; z-index:100;}
#imgPlatosDelDia {display:block; margin:auto; margin-bottom:8px; margin-top:8px;}
#tableDelivery {border-collapse:collapse; color:#575756; font-family:Arial; font-size:13px; position:relative; width:97.8%;}
#tdDelivery {padding-left:25px;}
#tdItems {border-bottom:1px solid #fff; padding-left:25px; text-decoration:none;}
#trDelivery {background:#0081dc; color:#fff; font-family:Arial Narrow; font-size:17px; font-weight:bold;}