<IfModule mod_rewrite.c>
	Options +FollowSymLinks

	ErrorDocument 404 /index.php?pageid=7&404=t

	RewriteEngine On
	RewriteRule ^acceso-clientes/?$ /index.php?pageid=50&page=menu_clientes.php
	RewriteRule ^acceso-exclusivo-agentes-comerciales/?$ /index.php?pageid=25
	RewriteRule ^acceso-exclusivo-agentes-comerciales/([a-z]*)?$ /index.php?pageid=25&login=$1
	RewriteRule ^acceso-exclusivo-agentes-comerciales/noticia/([a-zA-Z0-9.]*)/?$ /index.php?pageid=93&pg=$1
	RewriteRule ^acceso-exclusivo-clientes/?$ /index.php?pageid=49
	RewriteRule ^acceso-exclusivo-clientes/([a-z]*)?$ /index.php?pageid=49&login=$1
	RewriteRule ^acceso-exclusivo-estudios-juridicos/?$ /index.php?pageid=43
	RewriteRule ^acceso-exclusivo-estudios-juridicos-2/?$ /index.php?pageid=43&login=t
	RewriteRule ^acceso-exclusivo-organismos-publicos/?$ /index.php?pageid=45
	RewriteRule ^acceso-exclusivo-organismos-publicos/([a-z]*)?$ /index.php?pageid=45&login=$1
	RewriteRule ^acceso-exclusivo-preventores/?$ /index.php?pageid=31
	RewriteRule ^acceso-exclusivo-preventores/([a-z]*)?$ /index.php?pageid=31&login=$1
	RewriteRule ^acceso-exclusivo-usuarios-registrados/?$ /index.php?pageid=5
	RewriteRule ^acerca-provincia-art/?$ /index.php?pageid=8
	RewriteRule ^alta-usuario/?$ /index.php?pageid=74
	RewriteRule ^alta-usuario-2/?$ /index.php?pageid=67
	RewriteRule ^administracion-usuarios/?$ /index.php?pageid=73
	RewriteRule ^administracion-usuarios-2/?$ /index.php?pageid=66
	RewriteRule ^administracion-usuarios/([0-9]*)/?$ /index.php?buscar=yes&pageid=73&id=$1
	RewriteRule ^administracion-usuarios-2/([0-9]*)/?$ /index.php?buscar=yes&pageid=66&id=$1
	RewriteRule ^archivo/([^/]*)$ /functions/get_file.php?fl=$1
	RewriteRule ^archivo/([^/]*)/([a-z]*)/([0-9]*)$ /functions/get_file.php?fl=$1&md=$2&rnd=$3
	RewriteRule ^articulos/([0-9]*)-([a-zA-Z0-9-:]*).html$ /index.php?pageid=6&id=$1
	RewriteRule ^autoridades/?$ /index.php?pageid=34
	RewriteRule ^aviso-obra/?$ /index.php?pageid=95
	RewriteRule ^aviso-obra/consultar-presentaciones/([a-z]*)/?$ /index.php?pageid=97&t=$1
	RewriteRule ^aviso-obra/formulario-obra/?$ /index.php?pageid=96
	RewriteRule ^aviso-obra/nuevo/([a-z]*)/([0-9]*)/?$ /index.php?pageid=98&t=$1&r=$2
	RewriteRule ^aviso-obra/ver/([a-z]*)/([0-9-_]*)/?$ /index.php?pageid=98&t=$1&id=$2
	RewriteRule ^bienvenida/?$ /index.php?pageid=26
	RewriteRule ^bienvenida/aviso/?$ /index.php?pageid=26&vs
	RewriteRule ^bienvenida/2/?$ /index.php?pageid=26&mnsj
	RewriteRule ^bienvenida-cliente/?$ /index.php?pageid=50
	RewriteRule ^bienvenida-organismos-publicos/?$ /index.php?pageid=46
	RewriteRule ^bienvenida-preventores/?$ /index.php?pageid=89
	RewriteRule ^bna/?$ /modules/bna/index.php
	RewriteRule ^buscar-contrato/([0-9]*)/?$ /index.php?buscar=yes&pageid=78&contrato=$1
	RewriteRule ^buscar-contrato-2/([a-z]*)/?$ /index.php?pageid=78&d=$1
	RewriteRule ^buscar-cotizacion/?$ /index.php?pageid=27
	RewriteRule ^buscar-cotizacion/([a-zA-Z0-9-]*)/?$ /index.php?pageid=27&numero=$1
	RewriteRule ^buscar-cotizacion/([a-zA-Z0-9-]*)/?$ /index.php?pageid=27&buscar=yes&numero=$1
	RewriteRule ^buscar-cotizacion/([a-zA-Z0-9-]*)/([a-z]*)/?$ /index.php?pageid=27&buscar=yes&numero=$1&i=$2
	RewriteRule ^carga-masiva-trabajadores/?$ /index.php?pageid=55
	RewriteRule ^carga-nomina-personal/?$ /index.php?pageid=46&page=paso1.php
	RewriteRule ^carga-nomina-personal/error-fatal/([0-9]*)/?$ /index.php?pageid=46&page=paso3.php&id=$1&ep=t
	RewriteRule ^carga-nomina-personal/error/([0-9]*)/?$ /index.php?pageid=46&page=paso3.php&id=$1
	RewriteRule ^carga-nomina-personal/error/([0-9]*)/([0-9]*)/?$ /index.php?pageid=46&page=paso3.php&id=$1&l=$2
	RewriteRule ^carga-nomina-personal/paso-2/([0-9]*)/?$ /index.php?pageid=46&page=paso2.php&id=$1
	RewriteRule ^carga-nomina-personal/paso-2/([0-9]*)/([a-zA-Z0-9-]*)/?$ /index.php?pageid=46&page=paso2.php&id=$1&amw=t&pp=$2
	RewriteRule ^carga-nomina-personal/paso-3/([0-9]*)/([a-zA-Z0-9-]*)/([a-zA-Z0-9-]*)/?$ /index.php?pageid=46&page=paso3.php&id=$1&amw=$2&pp=$3
	RewriteRule ^carga-nomina-personal/paso-3/([0-9]*)/?$ /index.php?pageid=46&page=paso3.php&to=t&id=$1
	RewriteRule ^carta-cotizacion/([a-zA-Z0-9]*)/?$ /index.php?pageid=29&id=$1
	RewriteRule ^cartilla-prestadores/tipo-prestacion/?$ /index.php?pageid=50&page=cartilla_de_prestadores/tipo_de_prestacion.php
	RewriteRule ^central-servicios-linea/?$ /index.php?pageid=16
	RewriteRule ^certificados-cobertura/?$ /index.php?pageid=70
	RewriteRule ^certificados-cobertura/([0-9]*)/?$ /index.php?pageid=70&id=$1
	RewriteRule ^certificados-cobertura/paso-3/?$ /index.php?pageid=71
	RewriteRule ^certificados-cobertura/seleccion/?$ /index.php?pageid=72
	RewriteRule ^certificados-cobertura/seleccion-trabajadores/?$ /index.php?buscar=s&page=certificado_de_cobertura/seleccion_de_trabajadores_paso2.php&pageid=50
	RewriteRule ^certificados-cobertura/terminos-y-condiciones/?$ /index.php?pageid=50&page=certificado_de_cobertura/terminos_y_condiciones.php
	RewriteRule ^certificado-retencion/?$ /modules/varios/tesoreria/reporte_certificado_retencion.php
	RewriteRule ^cartilla-prestadores/?$ /index.php?pageid=60
	RewriteRule ^clientes/aviso-importante/?$ /index.php?pageid=99
	RewriteRule ^comisiones/?$ /index.php?pageid=85
	RewriteRule ^comisiones/facturas/?$ /index.php?pageid=86
	RewriteRule ^comisiones/liquidaciones/?$ /index.php?pageid=87
	RewriteRule ^consejos/?$ /index.php?pageid=15
	RewriteRule ^consulta-siniestros/?$ /index.php?pageid=64
	RewriteRule ^consulta-siniestros/([0-9]*)/?$ /index.php?pageid=64&id=$1
	RewriteRule ^consulta-siniestros/terminos-y-condiciones/?$ /index.php?pageid=50&page=consulta_de_siniestros/terminos_y_condiciones.php
	RewriteRule ^contacto/?$ /index.php?pageid=23
	RewriteRule ^contrasena-olvidada/?$ /index.php?pageid=65
	RewriteRule ^contratos-activos/?$ /index.php?pageid=82
	RewriteRule ^contratos-activos/contrato/([0-9]*)/?$ /index.php?pageid=83&id=$1
	RewriteRule ^cotizacion/?$ /index.php?pageid=28
	RewriteRule ^cotizacion/([a-zA-Z0-9]*)/?$ /index.php?pageid=28&id=$1
	RewriteRule ^cotizacion/([a-zA-Z0-9]*)/([a-z]*)/?$ /index.php?pageid=28&id=$1&i=$2
	RewriteRule ^denuncia-siniestros/?$ /index.php?pageid=61
	RewriteRule ^denuncia-siniestros/([0-9]*)/?$ /index.php?pageid=61&id=$1
	RewriteRule ^denuncia-siniestros/alta-nuevas-denuncias/?$ /index.php?pageid=62
	RewriteRule ^denuncia-siniestros/consulta-denuncias-realizadas/([0-9]*)/?$ /index.php?pageid=59&id=$1
	RewriteRule ^denuncia-siniestros/denuncia/?$ /index.php?pageid=63
	RewriteRule ^denuncia-siniestros/denuncia/([0-9]*)/?$ /index.php?pageid=63&id=$1
	RewriteRule ^denuncia-siniestros/denuncia/cem/([0-9]*)/?$ /index.php?pageid=63&cem=t&id=$1
	RewriteRule ^denuncia-siniestros/finalizacion-denuncias/([0-9]*)/?$ /index.php?pageid=80&id=$1
	RewriteRule ^denuncia-siniestros/formulario/([0-9]*)/?$ /index.php?pageid=77&id=$1
	RewriteRule ^denuncia-siniestros/terminos-y-condiciones/?$ /index.php?pageid=50&page=denuncias_de_siniestros/terminos_y_condiciones.php
	RewriteRule ^descarga-formularios/?$ /index.php?pageid=13
	RewriteRule ^edicion-usuario/([0-9]*)/?$ /index.php?pageid=74&id=$1
	RewriteRule ^edicion-usuario-2/([0-9]*)/?$ /index.php?pageid=67&id=$1
	RewriteRule ^estado-cuenta/?$ /index.php?pageid=41
	RewriteRule ^estado-cuenta/([a-zA-Z0-9]*)/([0-9]*)?$ /index.php?pageid=42&rpt=$1&id=$2
	RewriteRule ^estado-situacion-pagos/?$ /index.php?pageid=58
	RewriteRule ^estado-situacion-pagos/terminos-y-condiciones/?$ /index.php?pageid=50&page=estado_de_situacion_de_pagos/terminos_y_condiciones.php
	RewriteRule ^examenes-medicos-periodicos/?$ /index.php?pageid=47
	RewriteRule ^examenes-medicos-periodicos/([a-zA-Z0-9]*)/?$ /index.php?pageid=47&cuit=$1
	RewriteRule ^formulario-817/([a-zA-Z0-9-]*)/?$ /index.php?pageid=88&id=$1
	RewriteRule ^fundacion-provincia-art/?$ /index.php?pageid=20
	RewriteRule ^importacion-masiva-trabajadores/?$ /index.php?pageid=56
	RewriteRule ^impresion-resumenes/?$ /index.php?pageid=46&page=informes_procesados.php
	RewriteRule ^informes-ingenieria-siniestralidad/?$ /index.php?pageid=94
	RewriteRule ^integrando-realidades/?$ /index.php?pageid=21
	RewriteRule ^javascript/?$ /modules/varios/javascript/index.html
	RewriteRule ^jornada-actualizacion-2013/?$ /modules/varios/claves_para_el_desarrollo_de_los_sectores_productivos/index.html
	RewriteRule ^legales/([0-9]*)/?$ /index.php?pageid=33&id=$1
	RewriteRule ^mapa-sitio/?$ /index.php?pageid=7
	RewriteRule ^mi-perfil/?$ /index.php?pageid=69
	RewriteRule ^nomina-trabajadores/?$ /index.php?pageid=52
	RewriteRule ^nomina-trabajadores/([0-9]*)/?$ /index.php?pageid=52&id=$1
	RewriteRule ^nomina-trabajadores/alta-trabajador/?$ /index.php?pageid=53&id=-1
	RewriteRule ^nomina-trabajadores/baja-trabajador/([0-9]*)/?$ /index.php?pageid=54&id=$1
	RewriteRule ^nomina-trabajadores/modificacion-trabajador/([0-9]*)/?$ /index.php?pageid=53&id=$1
	RewriteRule ^nomina-trabajadores/terminos-y-condiciones/?$ /index.php?pageid=50&page=nomina_de_trabajadores/terminos_y_condiciones.php
	RewriteRule ^noticias-anteriores/?$ /index.php?pageid=81
	RewriteRule ^noticias-anteriores/([0-9]*)$ /index.php?pageid=81&pg=$1
	RewriteRule ^novedades/?$ /index.php?pageid=40
	RewriteRule ^novedades/([0-9]*)$ /index.php?pageid=40&pg=$1
	RewriteRule ^orden-pago/?$ /modules/varios/tesoreria/reporte_orden_pago.php
	RewriteRule ^reporte-reemplazo/?$ /modules/varios/tesoreria/reporte_reemplazo.php
	RewriteRule ^pcp/?$ /modules/varios/pcp/paso1.php
	RewriteRule ^pcp-2/?$ /modules/varios/pcp/paso2.php
	RewriteRule ^pcp-3/?$ /modules/varios/pcp/paso3.php
	RewriteRule ^pcp-4/?$ /modules/varios/pcp/paso4.php
	RewriteRule ^pcp-pdf/([a-z]*)/?$ /modules/varios/pcp/ver_pdf.php?tipo=$1
	RewriteRule ^politica-privacidad/?$ /index.php?pageid=36
	RewriteRule ^postulantes/?$ /index.php?pageid=9
	RewriteRule ^preguntas-frecuentes/?$ /index.php?pageid=14
	RewriteRule ^prestaciones-medicas-dinerarias/?$ /index.php?pageid=12
	RewriteRule ^prevencion/?$ /index.php?pageid=10
	RewriteRule ^prevencion-2/?$ /index.php?pageid=68
	RewriteRule ^prevencion-fraude/?$ /modules/prevencion_fraude/index.php
	RewriteRule ^prevencion/afiches/?$ /index.php?pageid=50&page=prevencion/afiches.php
	RewriteRule ^prevencion/alta-tarea/?$ /index.php?pageid=130
	RewriteRule ^prevencion/baja-tarea/([0-9]*)/?$ /index.php?pageid=131&id=$1
	RewriteRule ^prevencion/Carga-Tareas/?$ /index.php?pageid=128
	RewriteRule ^prevencion/Mostrar-Tareas/?$ /index.php?pageid=133
	RewriteRule ^prevencion/modificacion-tarea/([0-9]*)/?$ /index.php?pageid=129&id=$1
	RewriteRule ^prevencion/normativas/?$ /index.php?pageid=50&page=prevencion/normativas.php
	RewriteRule ^prevencion/senaletica/?$ /index.php?pageid=50&page=prevencion/senialetica.php
	RewriteRule ^prevencion/Verificaciones-Tareas/?$ /index.php?pageid=132
	RewriteRule ^programa-incentivos-2012-2013/?$ /modules/programa_incentivos_2012_2013/index.php
	RewriteRule ^proteccion-datos-personales/?$ /index.php?pageid=35
	RewriteRule ^rar/video/?$ /modules/usuarios_registrados/clientes/RAR/video_rar.php
	RewriteRule ^registrese/?$ /index.php?pageid=17
	RewriteRule ^registrese-2/?$ /index.php?pageid=76
	RewriteRule ^requisitos-afiliarse/?$ /index.php?pageid=39
	RewriteRule ^resolucion-srt/?$ /index.php?pageid=44
	RewriteRule ^responsabilidad-civil/([0-9]*)/?$ /index.php?pageid=79&id=$1
	RewriteRule ^rgrl/?$ /index.php?pageid=100
	RewriteRule ^rol-social-provincia-art/?$ /index.php?pageid=19
	RewriteRule ^servicio/?$ /index.php?pageid=11
	RewriteRule ^solicitud-afiliacion/([a-zA-Z0-9]*)/?$ /index.php?pageid=30&id=$1
	RewriteRule ^solicitud-afiliacion/([a-zA-Z0-9]*)/([a-z]*)/?$ /index.php?pageid=30&id=$1&i=$2
	RewriteRule ^solicitud-afiliacion-impresion/([a-zA-Z0-9]*)/([0-9]*)/?$ /index.php?pageid=75&idModulo=$1&idsa=$2
	RewriteRule ^sucursales/?$ /index.php?pageid=22
	RewriteRule ^terminos-condiciones/?$ /index.php?pageid=37
	RewriteRule ^trabaja-provincia-art/?$ /index.php?pageid=9
	RewriteRule ^tramites-linea/?$ /index.php?pageid=18
	RewriteRule ^videos/institucional/?$ /modules/varios/video_institucional/index.php

	RewriteRule ^EstudioJuridico/?$ /index.php?pageid=43
	RewriteRule ^EstudioJuridicoNew/?$ /modules/usuarios_registrados/estudios_juridicos/loginNew.php
	RewriteRule ^JuiciosParteActora/?$ /index.php?pageid=101
	RewriteRule ^SeleccionAplicacion/?$ /index.php?pageid=101
	RewriteRule ^ChequesDisponibles/?$ /index.php?pageid=102
	RewriteRule ^ObtenerChequeDetalle/?$ /index.php?pageid=103
	RewriteRule ^JuiciosParteDemandada/?$ /index.php?pageid=104
	RewriteRule ^AdminWebForm/?$ /index.php?pageid=106
	RewriteRule ^MasDatosJuicioWebForm/?$ /index.php?pageid=107
	RewriteRule ^EventosWebForm/?$ /index.php?pageid=108
	RewriteRule ^InstanciasWebForm/?$ /index.php?pageid=109
	RewriteRule ^InstanciasABMWebForm/?$ /index.php?pageid=110
	RewriteRule ^PeritajesWebForm/?$ /index.php?pageid=111
	RewriteRule ^PeritajesABMWebForm/(.*)/?$ /index.php?pageid=112&id=$1
	
	RewriteRule ^EventosABMWebForm/?$ /index.php?pageid=113
	RewriteRule ^EventosAdjuntosWebForm/?$ /index.php?pageid=134
	RewriteRule ^PeritajesAdjuntosWebForm/(.*)/?$ /index.php?pageid=135&id=$1
	
	RewriteRule ^ReportesSiniestrosWebForm/?$ /index.php?pageid=136
	RewriteRule ^ReportesSiniestros /modules/usuarios_registrados/estudios_juridicos/JuiciosParteDemandada/Reportes/ReporteResumenSiniestro.php
	RewriteRule ^ReporteSeguimientodeIncapacidad /modules/usuarios_registrados/estudios_juridicos/JuiciosParteDemandada/Reportes/ReporteSeguimientodeIncapacidad.php
	RewriteRule ^ReporteEvolutivodeSiniestro /modules/usuarios_registrados/estudios_juridicos/JuiciosParteDemandada/Reportes/ReporteEvolutivodeSiniestro.php
	RewriteRule ^ReporteFichaTrabajador /modules/usuarios_registrados/estudios_juridicos/JuiciosParteDemandada/Reportes/ReporteFichaTrabajador.php
	RewriteRule ^ReporteDatosdelaEmpresa /modules/usuarios_registrados/estudios_juridicos/JuiciosParteDemandada/Reportes/ReporteDatosdelaEmpresa.php
	
	RewriteRule ^Version/(.*)/(.*)/(.*)/?$ /modules/usuarios_registrados/estudios_juridicos/JuiciosParteDemandada/Reportes/Version.php?param1=$1&param2=$2&param3=$3
	
	RewriteRule ^SentenciaWebForm/?$ /index.php?pageid=114	
	RewriteRule ^PeritoABMWebForm/?$ /index.php?pageid=115
	RewriteRule ^ConcursosQuiebras/?$ /index.php?pageid=116
	RewriteRule ^ModificacionCYQ/?$ /index.php?pageid=117
	RewriteRule ^EventosCYQWebForm/?$ /index.php?pageid=118
	RewriteRule ^EventosCYQABMWebForm/?$ /index.php?pageid=119
	RewriteRule ^AcuerdosWebForm/?$ /index.php?pageid=120
	RewriteRule ^AcuerdosABMWebForm/?$ /index.php?pageid=121
	RewriteRule ^CuotasWebForm/?$ /index.php?pageid=122
	RewriteRule ^SiniestrosWebForm/?$ /index.php?pageid=123
	RewriteRule ^ImpresionJuicios/?$ /index.php?pageid=124
	#RewriteRule ^SentenciaWebForm/(.+)\/?$ /index.php?pageid=107&NroJuicio=$1			
	#RewriteRule ^PeritoABMWebForm/(.+)\/?$ /index.php?pageid=108	
	#RewriteRule ^SentenciaWebForm/(.+)\/?$ /index.php?pageid=7			
	#RewriteRule ^PeritoABMWebForm/(.+)\/?$ /index.php?pageid=115
	RewriteRule ^SeleccionarEstablecimiento/?$ /index.php?pageid=125	
	RewriteRule ^FormulariosNomina/?$ /index.php?pageid=126	
	RewriteRule ^NominaPersonalExpuesto/?$ /index.php?pageid=127	
	#RewriteRule ^ListadoPersonalExpuesto/(.+)/(.+)\/?$ /modules/usuarios_registrados/clientes/RAR/ListadoPersonalExpuesto.php?imprimir=true&idrelev=$1&random=$2
	RewriteRule ^ListadoPersonalExpuesto/?$ /modules/usuarios_registrados/clientes/RAR/ListadoPersonalExpuesto.php?imprimir=true
</IfModule>