/* Estilo para la celda que incluye el nombre del Usuario que solicita el pedido */
.TDUsuSol {
	background-color:#6DB33F;
	text-align:right;
	color:#FFFFFF;
	font-size:10pt;
}

/* Estilo para viñeta */
#viñeta {
	color:#6DB33F;
	font-weight: bold;
	font-size:10pt;
}