label {display:inline-block; text-align:right; width:164px;}

#ano {width:40px;}
#divErroresForm {display:none;}
#foco {height:1px; width:1px;}
#numero {width:40px;}
/*
#bajada {width:80%;}
#btnEditar {margin-left:1px;}
#cuerpo {cursor:pointer; display:none; height:120px; width:480px;}
#divMostrarEnPortada {display:none;}
#imgChica {border:3px solid #fff; height:40px;}
#imgChica:hover {border:3px solid #0f539c;}
#imgGrande {border:3px solid #fff; height:40px;}
#imgGrande:hover {border:3px solid #0f539c;}
#labelBajada {margin-left:78px;}
#labelBtnEditar {margin-left:75px;}
#labelDestino {margin-left:73px;}
#labelImagenChica {margin-left:44px; vertical-align:18px;}
#labelImagenGrande {margin-left:36px; vertical-align:18px;}
#labelMostrarEnPortada {margin-left:12px;}
#labelPosicion {margin-left:70px;}
#labelTitulo {margin-left:82px;}
#labelTituloBusqueda {margin-left:50px;}
#labelUbicacion {margin-left:62px;}
#labelVigenciaDesde {margin-left:32px;}
#labelVigenciaHasta {margin-left:16px;}
#labelVigenciaHastaBusqueda {margin-left:3px;}
#labelVistaPrevia {margin-left:19px;}
#labelVolanta {margin-left:72px;}
#labelVolantaBusqueda {margin-left:41px;}
#posicion {width:40px;}
#titulo {width:560px;}
#volanta {width:360px;}
*/