.gridBaja {color:#b00; text-decoration:line-through;}
.gridColSeparator {background-color:#fff; width:1px;}
.gridEmpty {background-image:url(/images/grid_not_found.gif); border:none; height:50px; width:237px;}
.gridFirstColumn {background-color:#fff; width:40px;}
.gridFondoOnMouseOver:hover {background:#00a4e4;}
.gridFooter {background-color:#b8b8b8; border-color:#b1b1b1; border-width:1px; border-style:solid; color:white; font-family:Trebuchet MS; font-size:8pt; height:20px;}
.gridFooterFont {color:#fefefe; font-family:Trebuchet MS; font-size:8pt; text-decoration:none;}
.gridFooterFontSelected {color:#00a4e4; cursor:default; font-family:Trebuchet MS; font-size:8pt; text-decoration:none;}
.gridHeader {background-color:#00a4e4; color:#fff; font-family:Trebuchet MS; font-size:8pt; height:16px; text-align:center; vertical-align:top;}
.gridOrderAsc {background-image:url(/images/grid_asc.gif); border:none; height:15px; width:26px;}
.gridOrderDesc {background-image:url(/images/grid_desc.gif); border:none; height:15px; width:26px;}
.gridRow1 {background-color:#807f84; color:black; cursor:default;}
.gridRow2 {background-color:#807f84; color:black; cursor:default;}
.gridTable {border:0px solid; border-collapse:collapse; border-spacing:0px; padding:0px; width:680px;}
.gridText {color:#fff; font-family:Trebuchet MS; font-size:8pt; padding-left:2px; text-align:center;}
.gridTitle {color:#fefefe; font-family:Trebuchet MS; font-size:10pt; font-weight:bold; text-align:center; text-decoration:none;}

.botonDescargar {
	background-image: url(/images/pdf_download.jpg);
	border: none;
	cursor: pointer;
	height: 17px;
	width: 14px;
}

.classToHideLastPartOfTheFooter {
	background-color: #fff;
	left: 1px;
	position: relative;
	width: 21px;
}

.classToHideLastPartOfTheFooter {
	background-color: #fff;
	bottom: -1px;
	font-size: 0pt;
	height: 11px;
	left: 2px;
	margin-right: -1px;
	margin-top: -2px;
	position: relative;
	width: 34px;
}

.colStatus {
	text-align: left;
}