input {margin-left:4px;}
input[type=checkbox] {vertical-align:-3px;}
input[type=radio] {vertical-align:-3px;}
input[type=text] {border:1px solid #575756; font-family:Arial; font-size:13px; height:20px; padding-left:2px;}
input.fecha {width:72px;}
select {border:1px solid #575756; height:20px; margin-left:4px;}

.botonFecha {background-image:url(/images/botones_formularios/boton_fecha.jpg); border:none; cursor:pointer; height:21px; vertical-align:-5px; width:32px;}
.botonFechaDeshabilitado {background-image:url(/images/botones_formularios/boton_fecha_deshabilitado.jpg); border:none; cursor:default; height:21px; vertical-align:-5px; width:32px;}
.btnVolver {background-image:url(/images/botones_formularios/boton_volver.jpg); border:0px none; cursor:pointer; float:right; height:43px; margin-right:19px; margin-top:24px; padding:0; width:98px;}
.fila {padding:2px; padding-top:4px;}

#btnAceptar {background-image:url(/images/botones_formularios/boton_aceptar.jpg); border:0; cursor:pointer; height:43px; margin-left:8px; width:98px;}
#btnAgregar {background-image:url(/images/botones_formularios/boton_agregar.jpg); border:0; cursor:pointer; height:43px; margin-left:8px; width:98px;}
#btnAgregarArticulo {background-image:url(/images/botones_formularios/boton_agregar_articulo.jpg); border:0; cursor:pointer; height:15px; margin-left:8px; width:135px;}
#btnAplicar {background-image:url(/images/botones_formularios/boton_aplicar.jpg); border:0; cursor:pointer; height:15px; margin-left:8px; width:59px;}
#btnAplicarCambios {background-image:url(/images/botones_formularios/boton_aplicar_cambios.jpg); border:0; cursor:pointer; height:15px; margin-left:8px; width:120px;}
#btnBuscar {background-image:url(/images/botones_formularios/boton_buscar.jpg); border:0; cursor:pointer; height:43px; margin-left:8px; width:98px;}
#btnCancelar {background-image:url(/images/botones_formularios/boton_cancelar.jpg); border:0; cursor:pointer; height:43px; margin-left:8px; width:99px;}
#btnCargar {background-image:url(/images/botones_formularios/boton_cargar.jpg); border:0; cursor:pointer; height:15px; margin-left:8px; width:78px;}
#btnComentar {background-image:url(/images/botones_formularios/boton_comentar.jpg); border:0; cursor:pointer; height:15px; margin-left:8px; width:77px;}
#btnDarBaja {background-image:url(/images/botones_formularios/boton_dar_de_baja.jpg); border:0; cursor:pointer; float:left; height:43px; width:98px;}
#btnEditar {background-color:transparent; background-image:url(/images/botones_formularios/boton_editar.png); border:0; cursor:pointer; height:25px; margin-left:8px; vertical-align:-7px; width:25px;}
#btnEnviar {background-image:url(/images/botones_formularios/boton_enviar.jpg); border:0; cursor:pointer; height:15px; margin-left:8px; width:50px;}
#btnGuardar {background-image:url(/images/botones_formularios/boton_guardar.jpg); border:0; cursor:pointer; height:43px; margin-left:8px; width:98px;}
#btnRecuperar {background-image:url(/images/botones_formularios/boton_recuperar.jpg); border:0; cursor:pointer; height:15px; margin-left:8px; width:81px;}
#btnSiguiente {background-image:url(/images/botones_formularios/boton_siguiente.jpg); border:0; cursor:pointer; height:15px; margin-left:8px; width:77px;}
#btnVer {background-image:url(/images/botones_formularios/boton_ver.jpg); border:0; cursor:pointer; height:15px; margin-left:8px; width:35px;}
#btnVistaPrevia {background-image:url(/images/botones_formularios/boton_vista_previa.jpg); border:0; cursor:pointer; height:43px; margin-right:40px; width:98px;}
#btnVotar {background-image:url(/images/botones_formularios/boton_votar.jpg); border:0; cursor:pointer; height:15px; margin-left:8px; width:54px;}
#divBotones {margin-right:15px; margin-top:16px; padding-top:8px; text-align:right;}
#divErroresForm {border:2px solid #f00; padding:6px; vertical-align:14px; width:75%;}
#imgGuardarOk {display:none; margin-right:24px;}
#imgProcesando {display:none; margin-right:24px;}